@model IEnumerable<LoginApp.Models.Ingredient>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ingredients Report</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Ingredients Report</h2>
    <table>
        <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Source</th>
                <th>Classification</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model)
            {
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.Source</td>
                    <td>@ingredient.Classification</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
